{% include 'header.twig' %}
<div class="content">
        <!-- page and other top info -->
        <div id="page_info">

        </div>
        <!-- // page and other top info -->
        <section id="viewTicket">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card card_v2">
                    <div class="card-body">
                        <div id="def_side_title">
                            <div class="icon">
                              <i class="fas fa-question"></i>
                            </div>
                            <div class="name">
                               {{ messageList['ticket']['subject'] }}
                            </div>{% if messageList["ticket"]["canmessage"] == 1 %} <span class="badge"> This request has been closed by the administrator</span></div> {% endif %} 
                        </div>
                        <hr>
                        
                        
                        {% if messageList %}
                {% for message in messageList %}
                  {% if message["support"] == 1 %}
                       
                        
                                                                                                                      <div class="row ticket-message-block ticket-message-right msg_user">
                                  <div class="col-md-2"></div>
                                  <div class="col-md-10">
                                    <div class="ticket-message">
                                      <div class="message">{{ message["message"] }}</div>
                                    </div>
                                    <div class="info text-end">
                                      <strong>{{ user["username"] }}</strong>
                                      <small class="text-muted">{{ message["time"] }}</small>
                                    </div>
                                  </div>
                                </div>
                                                                                      
                                
                                 
                     {% elseif message["subject"] %}
                  {% else %}
                  <div class="row ticket-message-block ticket-message-left msg_admin">
                                  <div class="col-md-10">
                                    <div class="ticket-message">
                                      <div class="message">{{ message["message"] }}</div>
                                    </div>
                                    <div class="info">
                                      <strong>support</strong>
                                      <small class="text-muted">{{ message["time"] }}</small>
                                    </div>
                                  </div>
                                  <div class="col-md-2"></div>
                                </div>
                 
                                                                    
                                      
                                    {% endif %}

                {% endfor %}
              {% endif %}      <hr>  
                                    {% if messageList['ticket']['canmessage'] == 2 %}
                                       <div class="row">
                                <div class="col-md-12">
                                    <form method="post" action="tickets/{{ messageList['ticket']['ticket_id'] }}" enctype="multipart/form-data">
                                                                                                                    <div class="form-group panel-border-top">
                                          <label for="message" class="control-label">Message</label>
                                          <textarea id="message" rows="5" class="form-control" style="height: 200px;" name="message"></textarea>
                                          
                                          
                                        </div>
                    
                                      
                                                                                <button type="submit" class="btn btn-primary d-block w-100" id="submitButton">Submit</button>
                                      </form>
                                                                      </div>
                                <div class="col-md-4">
                    
                                </div>
                            </div>                             
                                {% endif %}                                    
                                                                    
                                                                    
                                                                    
                                                                    
                            
                      
                                 
                                 
                                 
                                 
                                 
    </div></div>
  </div></div></div></div></section>


  
      </div>
      
      {% include 'footer.twig' %}