{% include 'header.twig' %}
	
 <div class="content">
        <!-- page and other top info -->
        <div id="page_info">

        </div>
        <!-- // page and other top info -->
        <div id="affiliates">
    <div class="container-fluid">
        <div class="row">
{% if PageText %}

   
    <div class="col-md-12">
      
      <div class="card">
        {{ contentText }}
      </div>
    </div>
</div>
    </div>
  </div></div></div></div></div>
{% endif %} 
     <div class="col-md-12">
                <div class="card card_v2">
                    <div class="card-body">
                <div class="col">
                    <div class="orders-history__margin-tab">
                        <div class="component_status_tabs">
                            <div class="">
      <ul class="nav nav-pills tab ">
	  
        <li class="nav-item" >
		
      </ul><br>
	
     <div class="row">
                <div class="col">
                    <div class="orders-history__margin-table">
                        <div class="table-bg component_table ">
                            <div class="table-wr table-responsive">
        <table class="table ">
          <thead>
            <tr>
                	<th><font size="3" color="red"><b>Updated ID</b></font></th>
													<th><font size="3" color="red"><b>Service Id</b></font></th>
													<th><font size="3" color="red"><b>Service Name</b></font></th>
													<th><font size="3" color="red"><b>Description</b></font></th>
													<th><font size="3" color="red"><b>Date</b></font></th>
													<th><font size="3" color="red"><b>Action</b></font></th>
                
                
             
            </tr>
          </thead>
          <tbody>
{#reject - #702283#}
{#completed-0e7f00#}
{#inprogress-0721ed#}
{#pending-42b7af#}
{#error-f71111#}

<td colspan="9">
            {% for order in orders %}
              <tr>
<td>{{ order['id'] }}</td> 
<td>{{ order['service_id'] }}</td> 
                <td>{{ order['service_name'] }}</td>
               
                 <td>{{ order['description'] }}</td> 
      <td>{{ order['date'] }}</td> 
          <td>{{ order['action'] }}</td>
               

              </tr>
            {% endfor %}
</td>
          </tbody>
        </table>
      </div>
    <br>
      {% if pagination["count"] > 1 %}
        <ul class="pagination">

          {% if pagination["current"] == 1 %}
            <li>
              <a href="updates/{{ status }}/{{ pagination["previous"] }}{% if search %}?search={{ search }}{% endif %}" aria-label="Previous">
                <span aria-hidden="true">ﾃつｫ</span>
              </a>
            </li>
          {% endif %}

          {% set r, l = 3, 3 %}

          {% if pagination['current'] == 1 %}
            {% set r = 7 %}
          {% endif %}

          {% if pagination['current'] == 2 %}
            {% set r = 5 %}
          {% endif %}

          {% if pagination['current'] >= pagination['count'] %}
            {% set l = 5 %}
          {% endif %}

          {% for page in 1..pagination["count"] %}
            {% if page >= (pagination['current']-l) and page <= (pagination['current']+r) %}
              <div style="border:1px solid rgb(128,128,128); padding:4px; margin-left:8px; min-width:21px; text-align:center;"><li{% if page == pagination['current'] %} class="active" {%endif%}><a href="updates/{{ status }}/{{ page }}{% if search %}?search={{ search }}{% endif %}">{{ page }}</a></li></div>
            {%endif%}
          {% endfor %}

          {% if pagination['current'] < pagination['count'] %}
            <li>
              <a style="margin-left:8px;" href="updates/{{ status }}/{{ pagination['next'] }}{% if search %}?search={{ search }}{% endif %}" aria-label="Next">
                <span aria-hidden="true">ﾃつｻ</span>
              </a>
            </li>
          {% endif %}

        </ul>
      {% endif %}

    </div>
  </div>
</div></div></div></div>
</div></div></div></div></div></div>
</div>




<br><br><br><br><br>
{% include 'footer.twig' %}